:root{
    --textcolor:rgb(0, 0, 0);
    --container:rgb(255, 255, 255);
    --linkcolor:rgb(0, 5, 57);
}
@font-face{
    font-family: univers67;
    src: url(assets/Univers\ 67\ Condensed\ Bold.otf) format('otf');
}
body{
    font-family: univers67;
    background-color: rgb(0, 0, 0);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    background-image: url(assets/num.gif);
    margin-top: 20px;
    
    
}
body a{
    color: var(--linkcolor);
}
body img{
    max-width: 100%;
}
.main-container {
    background-color:var(--container);
    color: var(--textcolor);
    margin: 5px;
    padding:17px;
    box-shadow: var(--container) 0px 2px 4px 0px, var(--container) 0px 2px 16px 0px;
}
.main-container h1{
    text-align: center;
}
.buttonbox img{
    max-height: 30px;
    max-width: fit-content;
}